@font-face {
  font-family: "Neue Machina";
  src: url(./assets/fonts/NeueMachina-Black.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Neue Machina";
  src: url(./assets/fonts/NeueMachina-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Neue Machina";
  src: url(./assets/fonts/NeueMachina-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Neue Machina";
  src: url(./assets/fonts/NeueMachina-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Neue Machina";
  src: url(./assets/fonts/NeueMachina-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Neue Machina";
  src: url(./assets/fonts/NeueMachina-Ultrabold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Neue Machina";
  src: url(./assets/fonts/NeueMachina-Ultralight.ttf) format("truetype");
  font-weight: 200;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: 'Neue Machina', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(rgba(4, 17, 34, 1), rgba(11, 156, 161, 1));
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px
}
